@import "functions"
@import "viewports"
@import "backgrounds-and-colors"
@import "width"
@import "height"
@import "grid"
@import "margins-and-paddings"
@import "flex"
@import "fonts"
@import "border"
@import "visibilities"
@import "text"

.fw-pointer
  cursor: pointer

.fw-va-middle
  vertical-align: middle

.fw-overflow-hidden
  overflow: hidden

.fw-img-cover
  width: 100%
  height: 100%
  object-fit: cover

@each $value in '1-2', '1-4', '1-5', '1-7', '2'
  .fw-line-height-#{$value}
    line-height: unquote(str_replace($value, '-', '.'))

.fw-inline-block
  display: inline-block

.fw-block
  display: block

.fw-inline
  display: inline

.fw-relative
  position: relative

.fw-absolute
  position: absolute

  &.fw-absolute-center
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    z-index: 2

  &.fw-absolute-top-right
    top: 0 
    right: 0

  &.fw-absolute-center-right
    right: 0
    top: 50%
    transform: translateY(-50%)

@each $value in 50, 100, 135
  .fw-box-proportional-#{$value}
    position: relative

    &::after
      display: block
      content: ''
      padding-top: unquote("#{$value}%")

    > *
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0


