.fw-grid
  display: flex

.fw-grid\@xs
  @media screen and (min-width: $extraSmall)
    display: flex

.fw-grid\@s
  @media screen and (min-width: $small)
    display: flex

.fw-grid\@m
  @media screen and (min-width: $medium)
    display: flex

.fw-grid\@l
  @media screen and (min-width: $large)
    display: flex

.fw-grid-top
  align-items: flex-start

.fw-grid-top\@xs
  @media screen and (min-width: $extraSmall)
    align-items: flex-start

.fw-grid-top\@s
  @media screen and (min-width: $small)
    align-items: flex-start

.fw-grid-top\@m
  @media screen and (min-width: $medium)
    align-items: flex-start

.fw-grid-top\@l
  @media screen and (min-width: $large)
    align-items: flex-start

.fw-grid-middle
  align-items: center

.fw-grid-middle\@xs
  @media screen and (min-width: $extraSmall)
    align-items: center

.fw-grid-middle\@s
  @media screen and (min-width: $small)
    align-items: center

.fw-grid-middle\@m
  @media screen and (min-width: $medium)
    align-items: center

.fw-grid-middle\@l
  @media screen and (min-width: $large)
    align-items: center

.fw-grid-bottom
  align-items: flex-end

.fw-grid-bottom\@xs
  @media screen and (min-width: $extraSmall)
    align-items: flex-end

.fw-grid-bottom\@s
  @media screen and (min-width: $small)
    align-items: flex-end

.fw-grid-bottom\@m
  @media screen and (min-width: $medium)
    align-items: flex-end

.fw-grid-bottom\@l
  @media screen and (min-width: $large)
    align-items: flex-end

@each $value in 0, 15, 20, 30, 40, 50
  .fw-grid-#{$value}
    margin-left: -#{$value}px
    margin-bottom: -#{$value}px

    & > *
      box-sizing: border-box
      padding-left: #{$value}px
      margin-bottom: #{$value}px

  .fw-grid-#{$value}\@xs
    @media screen and (min-width: $extraSmall)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@s
    @media screen and (min-width: $small)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@m
    @media screen and (min-width: $medium)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@l
    @media screen and (min-width: $large)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px