@each $value in 100, 120, 200
  .fw-width-percent-#{$value}
    width: unquote("#{$value}%")

  .fw-max-width-percent-#{$value}
    max-width: unquote("#{$value}%")

.fw-width-auto
  width: auto

@each $value in '1-1_100', '1-2_50', '1-3_33.333', '2-3_66.666', '1-4_25', '1-5_20', '1-6_16.666666', '1-5_20', '2-5_40', '3-5_60', '2-6_32.332', '4-6_66.668', '1-13_7.692', '1-7_14.285'
  $values: str_split('#{$value}', '_')
  $width: nth($values, 2)
  $widthName: nth($values, 1)

  .fw-width-#{$widthName}
    width: unquote("#{$width}%")

@each $value in 2, 32, 40, 46, 50, 70, 92, 100, 107, 120, 145, 150, 185, 200, 220, 280, 290, 320, 330, 340, 355, 384, 400, 420, 450, 470, 480, 550, 600, 640, 700, 705, 710, 760, 800, 820, 840, 850, 960, 1140
  .fw-width-#{$value}
    width: #{$value}px

  .fw-max-width-#{$value}
    max-width: #{$value}px

  .fw-min-width-#{$value}
    min-width: #{$value}px