.header
  width: 100%
  background-color: $colorBlue

  &.header--transparent
    background-color: transparent
    
    .header__partners
      background-color: rgba(#fff, 0.12)
      
      &:hover
        background-color: rgba(#fff, 0.3)

    .logo
      +sprite(logo-white)

  .logo
    +sprite(logo-pink)

  .container
    max-width: 1260px

  .header__panel
    display: flex
    align-items: center

    > a
      color: $colorWhite
      font-weight: bold
      font-size: 15px
      text-decoration: none
      
      &:hover
        text-decoration: underline

      &:not(:first-child)
        margin-left: 10px
        padding-left: 10px
        border-left: 2px solid $colorWhite
        
.header__partners
  background-color: rgba(#000, 0.12)
  padding: 5px 10px
  border-radius: 5px
  font-size: 15px
  text-decoration: none
  
  &:hover
    background-color: rgba(#000, 0.3)