$colorWhite: #fff
$colorLight: #f4f6f9
$colorGreyLight: #dbdcdf
$colorGreyDark: #4c4c4c
$colorGrey: #315154
$colorPink: #f90369
$colorBlueLight: #87ebf3
$colorBlue: #443a91
$colorCyan: #58c8d8
$colorYellow: #ffd758
$colorBlack: #000