body
  font-family: 'Helvetica Neue', 'Lato', sans-serif
  font-size: 14px
  font-weight: normal

hr
  height: 1px
  opacity: 0.3
  background-color: $colorBlack

input, textarea, select, option
  border-radius: 3px
  background-color: #ffffff
  border: 1px solid $colorGreyLight
  box-sizing: border-box
  outline: none
  font-family: 'Helvetica Neue', sans-serif

input, select, option
  height: 50px

textarea
  height: 150px

.wrapper
  max-width: 100%
  width: 100%
  overflow: hidden
  min-width: 1140px
  display: flex
  flex-direction: column
  min-height: 100vh

.container
  max-width: 1140px
  width: 100%
  margin: 0 auto
  padding: 0 15px
  box-sizing: border-box

  @media screen and (min-width: 1140px)
    padding: 0

.button
  cursor: pointer
  min-width: 205px
  display: inline-flex
  height: 50px
  align-items: center
  justify-content: center
  box-sizing: border-box
  padding: 3px 5px
  color: $colorBlack
  background-color: $colorBlueLight
  transition: all .3s ease-in-out
  text-transform: uppercase
  border: 2px solid $colorBlueLight
  border-radius: 100px
  text-decoration: none
  outline: none
  font-weight: bold
  font-size: 14px

  &.button-large
    height: 65px

  &.button-small
    height: 36px
    font-weight: normal
    font-size: 16px
    border-width: 1px
    text-transform: none

  &.button-full
    border-radius: 5px
    width: 100%

  &:hover
    background-color: $colorBlueLight * .9
    border-color: $colorBlueLight * .9

  &.button-yellow
    background: $colorYellow
    border-color: $colorYellow

    &:hover
      background-color: $colorYellow * .9
      border-color: $colorYellow * .9

  &.button-pink
    color: $colorWhite
    background: $colorPink
    border-color: $colorPink

    &:hover
      background-color: $colorPink * .9
      border-color: $colorPink * .9

  &.button-pink-transparent
    color: $colorPink
    background: transparent
    border-color: $colorPink

    &:hover
      background-color: transparent
      border-color: $colorPink * .9
      color: $colorPink  * .9

  &.button-white
    background: $colorWhite
    border-color: $colorWhite

    &:hover
      background-color: $colorWhite * .9
      border-color: $colorWhite * .9

.list-unstyled
  list-style: none
