body
  font-family: 'Helvetica Neue', 'Lato', sans-serif
  font-size: 14px
  font-weight: normal

hr
  height: 1px
  opacity: 0.3
  background-color: $colorBlack

input, textarea, select, option
  border-radius: 3px
  background-color: #ffffff
  border: 1px solid #bad5d5
  box-sizing: border-box
  outline: none
  font-family: 'Helvetica Neue', sans-serif

input, select, option
  height: 50px

textarea
  height: 150px

.wrapper
  max-width: 100%
  width: 100%
  overflow: hidden
  min-width: 1140px
  display: flex
  flex-direction: column
  min-height: 100vh

.container
  max-width: 1140px
  width: 100%
  margin: 0 auto
  padding: 0 15px
  box-sizing: border-box

  @media screen and (min-width: 1140px)
    padding: 0

.button
  cursor: pointer
  min-width: 205px
  display: inline-flex
  height: 50px
  align-items: center
  justify-content: center
  box-sizing: border-box
  padding: 3px 5px
  color: $colorBlack
  background-color: $colorBlueLight
  transition: all .3s ease-in-out
  text-transform: uppercase
  border: 2px solid $colorBlueLight
  border-radius: 100px
  text-decoration: none
  outline: none
  font-weight: bold
  font-size: 14px

  &.button-large
    height: 65px

  &.button-small
    height: 36px
    font-weight: normal
    font-size: 16px
    border-width: 1px
    text-transform: none

  &.button-full
    border-radius: 5px
    width: 100%

  &:hover
    background-color: $colorBlueLight
    border-color: $colorBlueLight
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorBlueLight, 0.4)

  &.button-yellow
    background: $colorYellow
    border-color: $colorYellow

    &:hover
      background-color: $colorYellow
      border-color: $colorYellow
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorYellow, 0.4)

  &.button-pink
    color: $colorWhite
    background: $colorPink
    border-color: $colorPink

    &:hover
      background-color: $colorPink
      border-color: $colorPink
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorPink, 0.4)


  &.button-green
    color: $colorWhite
    background: $colorGreen
    border-color: $colorGreen

    &:hover
      background-color: $colorGreen
      border-color: $colorGreen
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorGreen, 0.4)

  &.button-pink-transparent
    color: $colorPink
    background: transparent
    border-color: $colorPink

    &:hover
      background-color: transparent
      border-color: $colorPink
      color: $colorPink
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorPink, 0.4)

  &.button-white
    background: $colorWhite
    border-color: $colorWhite

    &:hover
      background-color: $colorWhite
      border-color: $colorWhite
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba($colorWhite, 0.4)

.list-unstyled
  list-style: none
  
.vote-section
  background-image: linear-gradient(to bottom, #443a91, #302772)

  .vote-section__article
    background-color: #fafafa
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5)

[data-info-title]
  position: relative

  &:after,
  &:before
    position: absolute
    left: 50%
    transform: translateX(-50%)
    display: none
    z-index: 1

  &:after
    content: attr(data-info-title)
    align-items: center
    justify-content: center
    position: absolute
    bottom: calc(100% + 10px)
    box-sizing: border-box
    padding: 5px 10px
    color: $colorWhite
    background-color: #2f2e2e


  &::before
    content: ''
    bottom: 100%
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 7.5px 0 7.5px
    border-color: #2f2e2e transparent transparent transparent

  &:hover
    &:after,
    &:before
      display: flex

#image-drop-box
  background-color: rgba(255, 255, 255, 0.4)
  border: dashed 1px #90acb8

  input
    display: none
    height: 0
    border: none
    width: 0
    visibility: hidden

