{% extends 'layouts/app.twig' %}

{% block content %}
    {% include 'layouts/header.twig' %}

    <div class="fw-pt-40 fw-pb-40 fw-bg-cover fw-bg-no-repeat fw-bg-center"
         style="background-image: url('images/pages/about/bg.jpg')">
        <div class="container">
            <div class="fw-width-640 fw-ml-60">
                <p class="fw-fz-30 fw-font-futura-demic fw-text-uppercase fw-mt-0 fw-mb-20">Голосование завершено.</p>
                <p class="fw-fz-18 fw-line-height-1-4 fw-font-futura-demic fw-mt-0 fw-mb-10">Информация о победительницах конкурса и членах жюри, которые получат уникальную клубную премиум-карту Denim с эксклюзивныеми условиями, будет опубликована на сайте конкурса в ближайшее время<p>
            </div>
        </div>
    </div>

    <div class="fw-pt-50 fw-bg-color-white">
        <div class="container">
            <div class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-grey-light fw-pb-60">
                <div class="fw-width-850 fw-ml-60">
                    <p class="fw-font-futura-demic fw-fz-24 fw-mt-0 fw-mb-0">Ответы на часто задаваемые вопросы</p>
                    <div class="fw-mt-25">
                        <p class="fw-font-bold fw-mt-0 fw-mb-0">1. Я хочу победить. Что нужно сделать?</p>
                        <div class="fw-color-grey fw-line-height-1-4">
                            <p>Для начала скачай и установи приложение от спонсора конкурса – сервиса Denim. Затем
                                пройди регистрацию, указав реальную информацию о себе, отправь свои фото в бикинии через
                                форму и следи за ходом конкурса в своем профиле на сайте.</p>
                            <p>Увеличь свои шансы на успех – подписывайся на Denim в одной из социальных сетей и делись
                                с друзьями информацией о конкурсе. </p>
                        </div>
                    </div>
                    <div class="fw-mt-25">
                        <p class="fw-font-bold fw-mt-0 fw-mb-0">2. Когда и где будет проводиться конкурс?</p>
                        <div class="fw-color-grey fw-line-height-1-4">
                            <p class="fw-mb-0">Конкурс проходит в 3 этапа:</p>
                            <p class="fw-mb-0 fw-mt-0">1 этап: 18.08 - 18.09 - девушки загружают свои фотографии</p>
                            <p class="fw-mb-0 fw-mt-0">2 этап: 19.09 - 30.09 - мужчины голосуют за девушек и выбирают 10 девушек, которые примут участие в финале</p>
                            <p class="fw-mb-0 fw-mt-0">Финал: будет проходить на одной из площадок в Москве</p>
                            <p class="fw-mt-0">На финал будут приглашены все, кто принимал участие в голосовании</p>
                        </div>
                    </div>
                    <div class="fw-mt-25">
                        <p class="fw-font-bold fw-mt-0 fw-mb-0">3. Как будет проходить голосование?</p>
                        <div class="fw-color-grey fw-line-height-1-4">
                            <p>Пользователи сервиса Denim, имеющие премиум-аккаунт, оценивают девушек на специальной
                                странице конкурса в соответствии со специальным алгоритмом обработки фото.</p>
                        </div>
                    </div>
                    <div class="fw-mt-25">
                        <p class="fw-font-bold fw-mt-0 fw-mb-0">3. Что такое Denim?</p>
                        <div class="fw-color-grey fw-line-height-1-4">
                            <p>DENIM от сервиса «Золушка Project» — это уже зарекомендовавший себя дейтинг для
                                по-настоящему красивых девушек, ищущих успешных мужчин, которые хотят тратить деньги на
                                достойные подарки.</p>
                            <p>Знакомства без обязательств для красивых девушек и успешных мужчин стали максимально
                                быстрыми и удобными благодаря строгой модерации женщин, а также так называемой «клубной»
                                системе для представителей сильного пола – доступ для мужчин к сервису платный. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}
{% endblock %}