{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="first-screen">
        {% include 'layouts/header.twig' %}

        <div class="container">
            <div class="first-screen__title">
                <h1>Золушка в бикини</h1>
                <h2>2017</h2>
            </div>
            <div class="first-screen__reserved fw-text-center">
                <div class="fw-text-blue fz30 ff-futura">уже зарегистрировано 45 984 участницы</div>
                <div>Прием заявок на участие ведется до <span class="fw-text-bold">21 июня 2017 года</span></div>
            </div>
        </div>
    </div>

    <div class="main-page-grid">
        <div class="owl-carousel main-page-grid__carousel">
            {% for i in 1..10 %}
                <div class="card-panel">
                    <div class="card-panel__image">
                        <img src="http://placehold.it/210x210" alt="" class="fw-width-1-1">
                    </div>
                    <div class="card-panel__content">
                        <div class="fw-text-bold">Таня, 19</div>
                        <div>Нижний-Новгород</div>
                    </div>
                </div>
            {% endfor %}
            <div class="card-panel card-panel_queen">

            </div>
            {% for i in 1..10 %}
                <div class="card-panel">
                    <div class="card-panel__image">
                        <img src="http://placehold.it/210x210" alt="" class="fw-width-1-1">
                    </div>
                    <div class="card-panel__content">
                        <div class="fw-text-bold">Таня, 19</div>
                        <div>Нижний-Новгород</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="main-about">
        <div class="container">
            <div class="main-about__container">
                <div class="block-title">Что такое конкурс <br>
                    Мисс-Бикини?
                </div>

                <div class="main-about__content">
                    <p>Жаркое лето только начинается и конкурс «Золушка в бикини» создан именно для таких горячих
                        девушек, как ТЫ! Правила максимально просты – призам будут завидовать все подруги.
                        Победительницы определяются путем открытого интернет-голосования, проводимого среди
                        пользователей сервиса Denim, которые подтвердили свой финансовый статус.</p>

                    <p>К конкурсу допускаются все девушки, достигшие 18 лет.</p>
                </div>

                <div class="main-about__button">
                    <a href="#" class="button button-yellow">Подать заявку</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-gifts">
        <div class="container">
            <div class="block-title">Какие существуют призы?</div>
            <div class="block-description">
                Выиграй поездку на океан и другие призы от наших спонсоров:
            </div>

            <div class="main-gifts__grid fw-flex fw-flex-between">
                <div class="main-gifts__item">
                    <div class="main-gifts__image">
                        <img src="http://placehold.it/150x150" alt="" class="fw-width-1-1">
                    </div>
                    <div class="main-gifts__place">
                        1 место
                    </div>
                    <div class="main-gifts__title">
                        Незабываемое романтическое путешествие для двоих
                    </div>
                </div>
                <div class="main-gifts__item">
                    <div class="main-gifts__image">
                        <img src="http://placehold.it/150x150" alt="" class="fw-width-1-1">
                    </div>
                    <div class="main-gifts__place">
                        2 место
                    </div>
                    <div class="main-gifts__title">
                        Подарочная карта ЦУМа на сумму 75 000 рублей
                    </div>
                </div>
                <div class="main-gifts__item">
                    <div class="main-gifts__image">
                        <img src="http://placehold.it/150x150" alt="" class="fw-width-1-1">
                    </div>
                    <div class="main-gifts__place">
                        3 место
                    </div>
                    <div class="main-gifts__title">
                        Профессиональная фотосессия
                        в студии в трех образах
                    </div>
                </div>
            </div>
            <div>
                <i class="icon-pandora"></i>
            </div>
            <div>
                Кроме того, победительницы двух специальных номинаций «Увесистая грудь» и «Я проблема!» получат
                подарочные сертификаты Pandora
                на 5000 и 10 000 рублей. Участвуйте, выигрывайте и исполняйте свои самые заветные мечты!
            </div>
            <div>
                <a href="#" class="button button-blue">Подать заявку</a>
            </div>
        </div>
    </div>

    <div class="vote-info">
        <div class="container">
            <div class="fw-flex">
                <div class="fw-flex-grow">
                    <div class="block-title">Как прозодит голосование?</div>
                    <div class="vote-info__content">
                        <div>
                            «Золушка в бикини» – максимально честный конкурс с предельно понятными механизмами
                            судейства.
                        </div>

                        <div>
                            Участие в голосовании принимают только авторизованные пользователи сервиса Denim, имеющие
                            премиум-статус (кто знает, может быть, среди них ты найдешь мужчину своей мечты).
                        </div>

                        <div>
                            Голоса участнице конкурса присваиваются исходя из результатов фотобатлов. Член жюри из пары
                            случайно выбранных девушек должен отдать свой выбор одной из них. Итоговый рейтинг
                            конкурсантки
                            складывается из суммарных баллов выигранных фотобатлов – у кого рейтинг выше, тот и занимает
                            призовые места.
                        </div>

                        <div>
                            <a href="#" class="button button-white">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="images/votes-image.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="main-rating">
        <div class="container">
            <div class="block-title">
                Текущий рейтинг участниц
            </div>
            <div class="main-rating__table">
                <table class="fw-width-1-1">
                    <tr>
                        <td>Место</td>
                        <td>Имя и возраст</td>
                        <td>Город</td>
                        <td>Количество битв</td>
                        <td>Голосов</td>
                    </tr>
                    {% for i in 1..10 %}
                        <tr class="fw-fz-18">
                            <td>1</td>
                            <td>
                                <div class="fw-inline-block fw-mr-20">
                                    <img alt="" src="http://placehold.it/70x70"/>
                                </div>
                                <div class="fw-text-bold">
                                    Наталья, 22
                                </div>
                            </td>
                            <td>Нижний-Новгород</td>
                            <td>22100</td>
                            <td>
                                <i class="icon-heart-big"></i>
                                <div class="fw-text-bold">1900</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="fw-text-center">
                <a href="#" class="button button-yellow">Смотреть всех</a>
            </div>
        </div>
    </div>

    <div class="main-for-men">
        <div class="container">
            <div class="block-title">
                Для мужчин мы также приготовили нечто особенное
            </div>
        </div>

        <div class="main-for-men__grid">
            <div class="main-for-men__grid-item">

            </div>
        </div>

        <div class="container">
            <div class="main-for-men__description">
                Принимай активное участие в голосовании и выиграй одну из трех эксклюзивных платиновых клубных карт.
                Обращаем внимание, что к голосованию допускаются только мужчины, подтвердившие свой финансовый статус в
                приложении Denim и имеющие активный премиум-доступ.
            </div>

            <div class="fw-grid fw-grid-30">
                <a href="#" class="button button-big button-pink">Я хочу участвовать и стать мисс золушка бикини</a>
                <a href="#" class="button button-big button-blue">Я ХОЧУ ГОЛОСОВАТЬ И ВЫИГРАТЬ BMW X6</a>
            </div>
        </div>
    </div>

    <div class="main-social">
        <div class="container">
            <div class="main-social__wrapper">
                <div class="block-title">соцсети</div>

                <div class="main-social__grid fw-grid-fw-grid-20">
                    <div class="main-social__item fw-width-1-2">
                        <div class="main-social__header">
                            <i class="icon-insta-white"></i>
                            <div class="main-social__header-title">Denim в Инстаграм</div>
                        </div>
                        <div class="main-social__content fw-grid">
                            {% for i in 1..15 %}
                                <div class="fw-width-1-5">
                                    <img alt="" class="fw-width-1-1 fw-inline-block" src="http://placehold.it/114x114"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="main-social__item fw-width-1-4">
                        <div class="main-social__header">
                            <i class="icon-fb-white"></i>
                            <div class="main-social__header-title">Denim в Инстаграм</div>
                        </div>
                        <div class="main-social__content">
                            <img alt="" src="http://placehold.it/244x346"/>
                        </div>
                    </div>
                    <div class="main-social__item fw-width-1-4">
                        <div class="main-social__header">
                            <i class="icon-vk-white"></i>
                            <div class="main-social__header-title">Denim в Инстаграм</div>
                        </div>
                        <div class="main-social__content">
                            <img alt="" src="http://placehold.it/244x346"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}
{% endblock %}