{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="fw-absolute fw-width-1-1 fw-min-width-1000">
        {% include 'layouts/header.twig' with {'transparent': 'header--transparent'} %}
    </div>

    <div class="index-first-screen fw-bg-cover fw-bg-top-center fw-bg-no-repeat fw-min-height-550 fw-bg-fixed fw-flex fw-flex-middle fw-flex-center">
        <div class="container">
            <div class="fw-width-705 fw-mr-auto fw-ml-auto">
                <div class="fw-text-right fw-mb-inverse-20">
                    <i class="icon icon-for-adult-white"></i>
                </div>
                <div>
                    <p class="fw-color-white fw-font-georgia fw-font-bold fw-fz-60 fw-mb-0 fw-mt-0 fw-text-center">Золушка в бикини</p>
                    <p class="fw-color-white fw-font-georgia fw-fz-52 fw-mt-0 fw-mb-0 fw-text-center">2017</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fw-mt-10">
        <div class="container">
            <div class="fw-text-center">
                <p class="fw-font-futura-demic fw-fz-30 fw-text-uppercase fw-color-cyan fw-mb-0 fw-mt-0">уже зарегистрировано 45984 участницы</p>
                <p class="fw-font-medium fw-fz-18 fw-color-grey fw-mt-10">Прием заявок на участие ведется до 21 июня 2017 года</p>
            </div>
        </div>
        <div class="fw-relative fw-height-280 fw-mb-40">
            <div class="fw-absolute fw-absolute-center fw-flex fw-grid-20 fw-mt-40">
                {% for i in 1..20 %}
                    <div class="fw-width-200 fw-flex-shrink-no">
                        <div class="fw-width-1-1 fw-border-radius-10 fw-shadow-bottom">
                            <div class="fw-width-1-1 fw-box-proportional-100 fw-border-radius-10 fw-overflow-hidden">
                                <img src="http://placehold.it/300x300" alt="" class="fw-img-cover">
                            </div>
                            <div class="fw-border-box fw-pt-10 fw-pl-10 fw-pr-10 fw-pb-10 fw-mb-10">
                                <p class="fw-fz-17 fw-font-bold fw-mt-0 fw-mb-0 fw-text-ellipsis">Аня, 23</p>
                                <p class="fw-fz-13 fw-mb-0 fw-mt-10">Нижний-Новгород</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="fw-width-200 fw-flex-shrink-no">
                    <div class="fw-width-1-1">
                        <div class="fw-width-1-1 fw-box-proportional-135">
                            <div class="fw-border-style-solid fw-border-4 fw-border-color-white-light fw-border-box fw-border-radius-10 fw-overflow-hidden fw-flex fw-flex-middle fw-flex-center">
                                <div class="fw-width-percent-120 fw-height-percent-120 fw-bg-cover fw-bg-no-repeat fw-bg-center fw-flex fw-flex-middle fw-flex-center" style="background-image: url('images/panel-gradient-pink.jpg')">
                                    <i class="icon icon-crown"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for i in 1..20 %}
                    <div class="fw-width-200 fw-flex-shrink-no">
                        <div class="fw-width-1-1 fw-border-radius-10 fw-shadow-bottom">
                            <div class="fw-width-1-1 fw-box-proportional-100 fw-border-radius-10 fw-overflow-hidden">
                                <img src="http://placehold.it/300x300" alt="" class="fw-img-cover">
                            </div>
                            <div class="fw-border-box fw-pt-10 fw-pl-10 fw-pr-10 fw-pb-10 fw-mb-10">
                                <p class="fw-fz-17 fw-font-bold fw-mt-0 fw-mb-0 fw-text-ellipsis">Аня, 23</p>
                                <p class="fw-fz-13 fw-mb-0 fw-mt-10">Нижний-Новгород</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="w-border-box fw-pt-60 fw-pb-0 fw-mb fw-min-height-760 fw-bg-cover fw-bg-no-repeat fw-bg-center" style="background-image: url('images/pages/index/image.girl.jpg')">
        <div class="container">
            <div class="fw-grid fw-grid-50 fw-grid-middle">
                <div class="fw-width-1-2">

                </div>
                <div class="fw-width-1-2">
                    <p class="fw-font-futura-demic fw-fz-30 fw-color-black fw-line-height-1-2 fw-mt-0 fw-mb-0 fw-text-uppercase">Что такое конкурс <br>Мисс-Бикини?</p>
                    <div class="fw-fz-16 fw-color-black fw-line-height-1-5 fw-mt-30">
                        <p class="fw-mt-0 fw-mb-0">Лето подходит к концу, а это значит, в памяти твоего телефона много свежих фото в купальнике! Конкурс "Золушка в бикини" - это отличная возможность продлить лето на жарком пляже, а также выиграть шоппинг!</p>
                        <p class="fw-mt-20 fw-mb-30">Правила максимально просты - призам будут завидовать все подруги. Победительницы определяются путем открытого интернет-голосования, проводимого среди пользователей сервиса Denim, которые подтвердили свой финансовый статус.</p>
                        <p class="fw-mt-20 fw-mb-30">К конкурсу допускаются все девушки, достигшие 18 лет.</p>
                    </div>
                    <div class="fw-mt-30">
                        <a href="/about.html" class="button button-yellow"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fw-border-box fw-pt-60 fw-pb-50 fw-bg-cover fw-bg-center fw-bg-no-repeat" style="background-image: url('images/pages/index/gifts.bg.jpg')">
        <div class="container">
            <div class="fw-text-center fw-color-black fw-line-height-1-2">
                <p class="fw-font-futura-demic fw-fz-30 fw-mt-0 fw-mb-0 fw-text-uppercase">Какие существуют призы?</p>
                <p class="fw-fz-16 fw-mt-10">Выиграй поездку на океан и другие призы от наших спонсоров:</p>
            </div>
            <div class="fw-grid fw-grid-50 fw-mt-50">
                <div class="fw-width-1-3 fw-flex fw-flex-center">
                    <div class="fw-max-width-280 fw-text-center">
                        <div class="fw-width-150 fw-height-150 fw-overflow-hidden fw-border-radius-percent-50 fw-inline-block">
                            <img src="http://placehold.it/150x150" alt="">
                        </div>
                        <p class="fw-mt-20 fw-mb-0 fw-color-pink fw-fz-16 fw-line-height-1-2">1 место</p>
                        <p class="fw-font-futura-demic fw-fz-20 fw-line-height-1-2 fw-color-black fw-mt-15 fw-mb-0">Незабываемое романтическое путешествие для двоих</p>
                    </div>
                </div>
                <div class="fw-width-1-3 fw-flex fw-flex-center">
                    <div class="fw-max-width-280 fw-text-center">
                        <div class="fw-width-150 fw-height-150 fw-overflow-hidden fw-border-radius-percent-50 fw-inline-block">
                            <img src="http://placehold.it/150x150" alt="">
                        </div>
                        <p class="fw-mt-20 fw-mb-0 fw-color-pink fw-fz-16 fw-line-height-1-2">2 место</p>
                        <p class="fw-font-futura-demic fw-fz-20 fw-line-height-1-2 fw-color-black fw-mt-15 fw-mb-0">Подарочная карта ЦУМа на сумму 75 000 рублей </p>
                    </div>
                </div>
                <div class="fw-width-1-3 fw-flex fw-flex-center">
                    <div class="fw-max-width-280 fw-text-center">
                        <div class="fw-width-150 fw-height-150 fw-overflow-hidden fw-border-radius-percent-50 fw-inline-block">
                            <img src="http://placehold.it/150x150" alt="">
                        </div>
                        <p class="fw-mt-20 fw-mb-0 fw-color-pink fw-fz-16 fw-line-height-1-2">3 место</p>
                        <p class="fw-font-futura-demic fw-fz-20 fw-line-height-1-2 fw-color-black fw-mt-15 fw-mb-0">Профессиональная фотосессия в студии в трех образах</p>
                    </div>
                </div>
            </div>
            <div class="fw-mt-100 fw-text-center">
                <div>
                    <i class="icon-pandora"></i>
                </div>
                <p class="fw-max-width-1030 fw-inline-block fw-line-height-1-5 fw-mt-20 fw-mb-0">Кроме того, победительницы двух специальных номинаций «Увесистая грудь» и «Я проблема!» получат подарочные сертификаты Pandora на 5000 и 10 000 рублей. Участвуйте, выигрывайте и исполняйте свои самые заветные мечты!</p>
            </div>
            <div class="fw-text-center fw-mt-40">
                <a href="#" class="button"><span>Подать заявку</span></a>
            </div>
        </div>
    </div>

    <div class="fw-border-box fw-pt-20 fw-bg-color-blue-light">
        <div class="container">
            <div class="fw-grid fw-grid-50 fw-grid-middle">
                <div class="fw-width-2-3">
                    <p class="fw-font-futura-demic fw-fz-30 fw-mt-40 fw-mb-0 fw-text-uppercase">Как проходит голосование?</p>
                    <div class="fw-mt-40 fw-fz-16">
                        <p class="fw-mt-0 fw-mb-0 ">«Золушка в бикини» – максимально честный конкурс с предельно понятными механизмами судейства.</p>
                        <p class="fw-mt-20 fw-mb-0">Участие в голосовании принимают только авторизованные пользователи сервиса Denim, имеющие премиум-статус (кто знает, может быть, среди них ты найдешь мужчину своей мечты).</p>
                        <p class="fw-mt-20 fw-mb-0">Голоса участнице конкурса присваиваются исходя из результатов фотобатлов. Член жюри из пары случайно выбранных девушек должен отдать свой выбор одной из них. Итоговый рейтинг конкурсантки складывается из суммарных баллов выигранных фотобатлов – у кого рейтинг выше, тот и занимает призовые места.</p>
                    </div>
                    <div class="fw-mt-30 fw-mb-20">
                        <a href="#" class="button button-white"><span>Зарегистрироваться</span></a>
                    </div>
                </div>
                <div class="fw-width-1-3 fw-flex fw-flex-bottom">
                    <img src="images/pages/index/image.phone.png" alt="" class="fw-max-width-320">
                </div>
            </div>
        </div>
    </div>

    <div class="fw-bg-color-light fw-border-box fw-pt-60 fw-pb-50">
        <div class="container">
            <p class="fw-font-futura-demic fw-fz-30 fw-mt-0 fw-mb-0 fw-text-uppercase fw-text-center fw-color-black fw-line-height-1-2">Текущий рейтинг участниц</p>
            <table class="fw-width-1-1 fw-border-collapse fw-mt-50">
                <thead>
                    <tr>
                        <td class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-black fw-mr-20 fw-width-100">
                            <p class="fw-font-bold fw-mt-0 fw-mb-20 fw-text-center">Место</p>
                        </td>
                        <td class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-black fw-mr-20 fw-pl-85 fw-border-box">
                            <p class="fw-font-bold fw-mt-0 fw-mb-20">Имя и возраст</p>
                        </td>
                        <td class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-black fw-mr-20">
                            <p class="fw-font-bold fw-mt-0 fw-mb-20">Город</p>
                        </td>
                        <td class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-black fw-width-120">
                            <p class="fw-font-bold fw-mt-0 fw-mb-20">Количество битв</p>
                        </td>
                        <td class="fw-border-width-1 fw-border-style-solid-bottom fw-border-color-black fw-width-100">
                            <p class="fw-font-bold fw-mt-0 fw-mb-20 fw-text-center">Голосов</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in 10..1 %}
                        <tr>
                            <td class="fw-border-width-1 fw-border-style-solid-bottom {% if key == 9 %}fw-border-color-black{% else %}fw-border-color-grey-light{% endif %} fw-border-box fw-mr-20 fw-width-100 fw-va-middle">
                                <p class="fw-mt-15 fw-mb-15 fw-text-center fw-fz-18">{{ key + 1 }}</p>
                            </td>
                            <td class="fw-border-width-1 fw-border-style-solid-bottom {% if key == 9 %}fw-border-color-black{% else %}fw-border-color-grey-light{% endif %} fw-border-box fw-mr-20 fw-va-middle">
                                <div class="fw-mt-15 fw-mb-15 fw-flex fw-flex-middle">
                                    <div class="fw-width-70 fw-height-70 fw-overflow-hidden fw-border-radius-percent-50 fw-inline-block fw-mr-15">
                                        <img src="http://placehold.it/70x70" alt="">
                                    </div>
                                    <div class="fw-flex-grow-1">
                                        <p class="fw-font-bold fw-mt-0 fw-mb-0 fw-fz-18">Золушка, {{ key + 1 }}</p>
                                    </div>
                                </div> 
                            </td>
                            <td class="fw-border-width-1 fw-border-style-solid-bottom {% if key == 9 %}fw-border-color-black{% else %}fw-border-color-grey-light{% endif %} fw-border-box fw-mr-20 fw-va-middle">
                                <p class="fw-mt-15 fw-mb-15 fw-fz-18">Нижний Новгород</p>
                            </td>
                            <td class="fw-border-width-1 fw-border-style-solid-bottom {% if key == 9 %}fw-border-color-black{% else %}fw-border-color-grey-light{% endif %} fw-border-box fw-width-120 fw-va-middle">
                                <p class="fw-mt-15 fw-mb-15 fw-fz-18">{{ val * 246 }}</p>
                            </td>
                            <td class="fw-border-width-1 fw-border-style-solid-bottom {% if key == 9 %}fw-border-color-black{% else %}fw-border-color-grey-light{% endif %} fw-border-box fw-width-100 fw-va-middle">
                                <p class="fw-font-bold fw-mt-15 fw-mb-15 fw-text-center fw-fz-18 fw-flex fw-flex-middle fw-flex-center"><i class="icon icon-heart fw-mr-5 fw-flex-shrink-no"></i> {{ val * 189 }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="fw-mt-40 fw-text-center">
                <a href="rating.html" class="button button-yellow"><span>Смотреть всех</span></a>
            </div>
        </div>
    </div>

    <div class="fw-bg-color-white fw-border-box fw-pt-60">
        <div class="container">
            <p class="fw-font-futura-demic fw-fz-30 fw-mt-0 fw-mb-0 fw-text-uppercase fw-text-center fw-color-black fw-line-height-1-2">Для мужчин мы также приготовили нечто особенное</p>
            <div class="fw-text-center">
                <p class="fw-max-width-820 fw-inline-block fw-line-height-1-5 fw-mt-20 fw-mb-0 fw-fz-16">Принимай активное участие в голосовании и выиграй одну из трех эксклюзивных платиновых клубных карт. Обращаем внимание, что к голосованию допускаются только мужчины, подтвердившие свой финансовый статус в приложении Denim и имеющие активный премиум-доступ.</p>
            </div>
        </div>
        <div class="fw-ml-inverse-50 fw-mr-inverse-50 fw-mt-30">
            <div class="fw-grid fw-grid-10">
                {% for i in 1..13 %}
                    <div class="fw-width-1-13">
                        <div class="fw-width-1-1 fw-box-proportional-100">
                            <div class="fw-overflow-hidden fw-border-radius-percent-50 fw-inline-block fw-mr-15">
                                <img src="http://placehold.it/100x100" alt="" class="fw-img-cover">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="fw-grid fw-grid-30 fw-mt-60">
                <div class="fw-width-1-2 fw-pb-10"><a href="#" class="button button-full button-large button-pink"><span>Я ХОЧУ УЧАСТВОВАТЬ И СТАТЬ МИСС ЗОЛУШКА БИКИНИ</span></a></div>
                <div class="fw-width-1-2 fw-pb-10"><a href="#" class="button button-full button-large button-dark-blue"><span class="fw-color-white">Я ХОЧУ ГОЛОСОВАТЬ И ВЫИГРАТЬ КЛУБНУЮ КАРТУ DENIM</span></a></div>
            </div>
        </div>
    </div>

    <div class="fw-bg-color-white fw-border-box fw-pt-60">
        <div class="container">
            <div class="fw-border-box fw-pl-20 fw-pr-20 fw-border-style-solid-bottom fw-border-width-1 fw-pt-20 fw-pb-20 fw-bg-color-grey-darker">
                <p class="fw-font-futura-demic fw-fz-30 fw-mt-0 fw-mb-0 fw-text-uppercase fw-color-black fw-line-height-1-2">Соцсети</p>
                <div class="fw-grid fw-grid-20 fw-mt-30">
                    <div class="fw-width-1-2">
                        <div class="fw-bg-color-black fw-border-box fw-pt-5 fw-pl-10 fw-pr-10 fw-pb-5 fw-flex fw-flex-middle">
                            <div class="fw-flex-shrink-no">
                                <i class="icon icon-instagram-white"></i>
                            </div>
                            <div class="fw-flex-grow-1">
                                <p class="fw-color-white fw-text-center">Denim в Инстаграм</p>
                            </div>
                        </div>
                        <div class="fw-flex fw-flex-wrap">
                            {% for i in 1..15 %}
                                <div class="fw-width-1-5">
                                    <div class="fw-width-1-1 fw-box-proportional-100">
                                        <img src="http://placehold.it/100x100" alt="">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="fw-width-1-2">
                        <div class="fw-grid fw-grid-20 fw-height-1-1">
                            <div class="fw-width-1-2">
                                <div class="fw-bg-color-facebook fw-border-box fw-pt-5 fw-pr-10 fw-pb-5 fw-flex fw-flex-middle fw-width-1-1">
                                    <div class="fw-flex-shrink-no">
                                        <i class="icon icon-facebook-large"></i>
                                    </div>
                                    <div class="fw-flex-grow-1">
                                        <p class="fw-color-white fw-text-center">Denim в Facebook</p>
                                    </div>
                                </div>
                                <div class="fw-width-1-1">
                                    <img src="http://placehold.it/250x312" alt="" class="fw-img-cover">
                                </div>
                            </div>
                            <div class="fw-width-1-2">
                                <div class="fw-bg-color-vk fw-border-box fw-pt-5 fw-pl-10 fw-pr-10 fw-pb-5 fw-flex fw-flex-middle fw-width-1-1">
                                    <div class="fw-flex-shrink-no">
                                        <i class="icon icon-vk-large"></i>
                                    </div>
                                    <div class="fw-flex-grow-1">
                                        <p class="fw-color-white fw-text-center fw-ml-inverse-30">Denim в VK</p>
                                    </div>
                                </div>
                                <div class="fw-width-1-1">
                                    <img src="http://placehold.it/250x312" alt="" class="fw-img-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}
{% endblock %}