{% extends 'layouts/app.twig' %}

{% block content %}
    {% include 'layouts/header.twig' %}

    <div class="fw-pt-50 fw-pb-60 fw-bg-cover fw-bg-no-repeat fw-bg-center fw-bg-color-light-dark">
        <div class="container">
            <div class="fw-flex">
                <div class="fw-width-750 fw-ml-100">
                    <p class="fw-fz-30 fw-font-futura-demic fw-mt-0 fw-mb-0 fw-text-uppercase">Поздравляем - до
                        завершения
                        регистрации в конкурсе остался всего 1 шаг!</p>
                    <div class="fw-mt-40">
                        <p class="fw-fz-24 fw-font-futura-demic fw-mt-0 fw-mb-0">Проверь свои данные:</p>
                        <div class="fw-flex fw-flex-middle fw-mt-20">
                            <div class="fw-width-107 fw-flex-shrink-no"><p class="fw-mt-0 fw-mb-0 fw-fz-16">Имя</p>
                            </div>
                            <div class="fw-flex-grow-1">
                                <label for="input-name"
                                       class="fw-flex fw-flex-middle fw-max-width-340 main-info-form-box">
                                    <input type="text"
                                           class="fw-flex-grow-1 fw-height-36 fw-border-box fw-pl-5 fw-pr-5 fw-fz-16"
                                           id="input-name">
                                    <span class="fw-mt-inverse-5 fw-flex-shrink-no fw-ml-10 fw-pointer"
                                          data-info-title="Редактировать"><i class="icon icon-pencil"></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="fw-flex fw-flex-middle fw-mt-20">
                            <div class="fw-width-107 fw-flex-shrink-no"><p class="fw-mt-0 fw-mb-0 fw-fz-16">Город</p>
                            </div>
                            <div class="fw-flex-grow-1">
                                <label for="input-city"
                                       class="fw-flex fw-flex-middle fw-max-width-340 main-info-form-box">
                                    {#<input type="text"
                                           class="fw-flex-grow-1 fw-width-1-1 fw-height-36 fw-border-box fw-pl-5 fw-pr-5 fw-fz-16"
                                           id="input-city">#}
                                    <div class="form-select-box">
                                        <select name="">
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                            <option value="">Выбрать</option>
                                        </select>
                                    </div>
                                    <span class="fw-mt-inverse-5 fw-flex-shrink-no fw-ml-10 fw-pointer"
                                          data-info-title="Редактировать"><i class="icon icon-pencil"></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="fw-flex fw-flex-middle fw-mt-20">
                            <div class="fw-width-107 fw-flex-shrink-no"><p class="fw-mt-0 fw-mb-0 fw-fz-16">Возраст</p>
                            </div>
                            <div class="fw-flex-grow-1">
                                <label for="input-age"
                                       class="fw-flex fw-flex-middle fw-max-width-340 main-info-form-box">
                                    <input type="text"
                                           class="fw-width-1-1 fw-height-36 fw-border-box fw-pl-5 fw-pr-5 fw-fz-16"
                                           id="input-age">
                                    <span class="fw-mt-inverse-5 fw-flex-shrink-no fw-ml-10 fw-pointer"
                                          data-info-title="Редактировать"><i class="icon icon-pencil"></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="fw-flex fw-flex-middle fw-mt-20">
                            <div class="fw-width-107 fw-flex-shrink-no"><p class="fw-mt-0 fw-mb-0 fw-fz-16">E-mail</p>
                            </div>
                            <div class="fw-flex-grow-1">
                                <label for="input-email"
                                       class="fw-flex fw-flex-middle fw-max-width-340 main-info-form-box">
                                    <input type="email"
                                           class="fw-width-1-1 fw-height-36 fw-border-box fw-pl-5 fw-pr-5 fw-fz-16"
                                           id="input-email">
                                    <span class="fw-mt-inverse-5 fw-flex-shrink-no fw-ml-10 fw-pointer"
                                          data-info-title="Редактировать"><i class="icon icon-pencil"></i></span>
                                </label>
                            </div>
                        </div>
                        <p class="fw-fz-24 fw-font-futura-demic fw-mt-30 fw-mb-0 fw-mt-40">Загрузи фото</p>
                        <p class="fw-fz-16 fw-mt-10 fw-mb-0 fw-line-height-1-2">Теперь загрузи одну или несколько твоих самых эффектных снимков в бикини, предварительно ознакомившись с<a href="#" class="fw-color-pink fw-text-none fw-border-style-dashed-bottom fw-border-width-1 fw-border-color-pink js-open-popup" data-popup-target="recommendation">рекомендациями</a> по размещению фото. </p>

                        <div id="image-drop-box" class="fw-border-box fw-pt-20 fw-pb-20 fw-pl-20 fw-pr-20 fw-mt-20">
                            <div class="preloader-wrapper">
                                <div class="preloader"></div>
                            </div>
                            <div class="image-drop-box__content">
                                <input type="file" id="image-drop-box__files" multiple>
                                <div class="fw-flex fw-flex-middle fw-mt-20 fw-mb-20 fw-mr-20 fw-ml-20">
                                    <div class="fw-flex-shrink-no fw-mr-30">
                                        <i class="icon icon-camera"></i>
                                    </div>
                                    <div class="fw-flex-grow-1">
                                        <p class="fw-fz-16 fw-line-height-1-2 fw-mt-0 fw-mb-0">Перетащи сюда свои фото или выбери со <br> своего <label for="image-drop-box__files" class="fw-color-pink fw-text-underline-hover fw-pointer fw-mr-5">устройства</label>(не более 15 штук)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="image-drop-box__preview preview">
                                <div class="fw-grid fw-grid-20" id="image-drop-box__preview">
                                    <div class="fw-width-1-6 image-drop-box__selector">
                                        <div class="fw-width-1-1 fw-box-proportional-100">
                                            <div>
                                                <label for="image-drop-box__files" class="fw-pointer fw-border-radius-5 fw-height-1-1 fw-width-1-1 fw-flex fw-flex-column fw-flex-middle fw-flex-center fw-text-center fw-border-width-1 fw-border-style-dashed fw-border-color-blue">
                                                    <span><i class="icon icon-camera"></i></span>
                                                    <span class="fw-fz-12 fw-line-height-1-2">Осталось <span class="preview__count">13</span> фото</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="fw-fz-24 fw-font-futura-demic fw-mt-0 fw-mb-0 fw-mt-40">Ответь на вопросы
                            блиц-опроса</p>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2">
                                <p class="fw-fz-16 fw-mt-0 fw-mb-0">Что ты больше всего в себе
                                    любишь?</p>
                            </div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2">
                                <p class="fw-fz-16 fw-mt-0 fw-mb-0">Какая часть тела у тебя самая
                                    красивая?</p>
                            </div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2"><p class="fw-fz-16 fw-mt-0 fw-mb-0">Какие у тебя таланты помимо
                                    эффектной
                                    внешности?
                                    Спортивный разряд, умение играть на музыкальном инструменте?</p></div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2"><p class="fw-fz-16 fw-mt-0 fw-mb-0">Какие ошибки чаще всего
                                    совершают
                                    мужчины, пытаясь
                                    познакомиться с тобой?</p></div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2"><p class="fw-fz-16 fw-mt-0 fw-mb-0">Самый приятный комплимент,
                                    который
                                    тебе когда-либо делал
                                    мужчина?</p></div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-grid fw-grid-30 fw-mt-30 additional-info-form-box">
                            <div class="fw-width-1-2">
                                <p class="fw-fz-16 fw-mt-0 fw-mb-0">Какого бы мужчину ты хотела
                                    найти?</p></div>
                            <div class="fw-width-1-2">
                                <textarea name=""
                                          class="fw-width-1-1 fw-pt-5 fw-pb-5 fw-pl-5 fw-pr-5 fw-fz-16 fw-height-100"></textarea>
                            </div>
                        </div>
                        <div class="fw-flex fw-mt-30">
                            <div class="fw-width-200 fw-ml-auto">
                                <button type="submit" class="button button-pink button-full fw-ml-inverse-5"><span>Готово</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}
{% endblock %}

{% block popups %}

{% endblock %}