<footer class="footer">
    <div class="container">
        <div class="fw-grid fw-grid-15 fw-grid-middle">
            <div class="fw-width-1-2">
                <div class="fw-grid fw-grid-15 fw-grid-middle@m">
                    <div class="fw-width-1-1 fw-width-2-3@m">
                        <p class="fw-color-grey-dark fw-fz-14 fw-mt-0">Компания Dornoom’s ©2017</p>
                        <p class="fw-color-grey-dark fw-fz-14 fw-mb-0 fw-line-height-1-5 fw-mt-20">Бренд Denim™ является зарегистрированной собственностью Компании Dornoom’s Если Вы обнаружили нарушение правил, сообщите нам</p>
                    </div>
                    <div class="fw-width-1-1 fw-width-1-3@m">
                        <ul class="list-unstyled fw-mt-0 fw-mb-0 fw-pl-0">
                            <li><a href="#" class="fw-fz-15 fw-color-black fw-text-underline-hover">О конкурсе</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-15 fw-color-black fw-text-underline-hover">Участницы</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-15 fw-color-black fw-text-underline-hover">Призы</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-15 fw-color-black fw-text-underline-hover">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fw-width-1-2">
                <div class="fw-grid fw-grid-15">
                    <div class="fw-width-1-2">
                        <ul class="list-unstyled fw-mt-0 fw-mb-0 fw-pl-0">
                            <li><a href="#" class="fw-fz-16 fw-color-pink fw-text-underline-hover">Пользовательское соглашение</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-16 fw-color-pink fw-text-underline-hover">Соглашене о конфиденциальности</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-16 fw-color-pink fw-text-underline-hover">Отказ от ответственности</a></li>
                            <li class="fw-mt-10"><a href="#" class="fw-fz-16 fw-color-pink fw-text-underline-hover">Регистрация</a></li>
                        </ul>
                    </div>
                    <div class="fw-width-1-2">
                        <div class="fw-flex fw-flex-column fw-height-1-1">
                            <div>
                                <a href="#">Вход</a> <a href="#">Регистрация</a>
                            </div>
                            <div class="fw-mt-auto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>