<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer__copy">
                <p class="fw-mb-20">Компания Dornoom’s ©2017</p>

                <p>Бренд Denim™ является зарегистрированной собственностью Компании Dornoom’s
                    Если Вы обнаружили нарушение правил, сообщите нам</p>
            </div>
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">О конкурсе</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Участницы</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Призы</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Регистрация</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <p>
                    <a href="#" class="fw-purple-link">Пользовательское соглашение</a>
                </p>
                <p>
                    <a href="#" class="fw-purple-link">Соглашене о конфиденциальности</a>
                </p>
                <p>
                    <a href="#" class="fw-purple-link">Отказ от ответственности</a>
                </p>
            </div>
            <div class="footer__login">
                <div class="footer__login-item">
                    <a href="#" class="fw-black-link">Вход</a>
                </div>
                <div class="footer__login-item">
                    <a href="#" class="fw-black-link">Регистрация</a>
                </div>
            </div>
            <div class="footer__apps">
                <a href="#">
                    <i class="icon-black-appstore"></i>
                </a>
                <a href="#">
                    <i class="icon-black-googleplay"></i>
                </a>
            </div>
        </div>
    </div>
</footer>