<header class="header {{ transparent }}">
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-border-box fw-pt-20 fw-pb-20 fw-flex-space-between">
            <div class="fw-flex-shrink-no fw-mr-20 fw-flex fw-flex-middle">
                <a href="#" class="logo__link fw-mr-20">
                    <i class="logo"></i>
                </a>
                <div class="fw-flex fw-flex-shrink-no">
                    <a href="girls.html" class="fw-flex-shrink-no fw-fz-22 fw-font-light fw-color-white fw-text-underline-hover fw-mr-20">Участницы</a>
                    <a href="about.html" class="fw-flex-shrink-no fw-fz-22 fw-font-light fw-color-white fw-text-underline-hover fw-mr-40">О конкурсе</a>
                </div>
                <a href="#" class="header__partners fw-flex fw-flex-middle fw-color-white">
                    <div class="fw-mr-10">
                        <p class="fw-fz-15 fw-font-light fw-mt-0 fw-mb-0">Генеральные спонсоры <br> конкурса Denim и OneTwoTrip</p>
                    </div>
                    <div class="fw-flex fw-flex-middle">
                        <i class="icon icon-denim-logo fw-mr-5 fw-mt-5"></i>
                        <i class="icon icon-onetwotrip"></i>
                    </div>
                </a>
            </div>
            <div class="header__panel">
                <div class="fw-flex fw-flex-middle">
                    <img src="http://placehold.it/50x50" class="fw-max-width-50 fw-border-radius-percent-50 fw-mr-15" alt="">

                    <div class="fw-font-futura-demic fw-color-white fw-fz-16">
                        Мое имя
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>