<header class="header header--fixed">
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-border-box fw-pt-20 fw-pb-20 fw-flex-space-between">
            <div class="fw-flex-shrink-no fw-mr-20 fw-flex fw-flex-middle">
                <a href="#" class="logo__link fw-mr-20">
                    <i class="logo"></i>
                </a>
                <div class="fw-flex fw-flex-shrink-no">
                    <a href="#" class="fw-flex-shrink-no fw-fz-22 fw-font-light fw-color-white fw-text-underline-hover fw-mr-20">Участницы</a>
                    <a href="#" class="fw-flex-shrink-no fw-fz-22 fw-font-light fw-color-white fw-text-underline-hover fw-mr-40">О конкурсе</a>
                </div>
                <a href="#" class="fw-flex fw-flex-middle fw-text-underline-hover fw-color-white">
                    <div class="fw-mr-10 fw-mt-5"><i class="icon icon-denim-logo"></i></div>
                    <div>
                        <p class="fw-fz-13 fw-font-light fw-mt-0 fw-mb-0">Генеральный партнер приложение Denim: <br> знакомства для успешных мужчин</p>
                    </div>
                </a>
            </div>
            <div class="header__panel">
                <a class="login-menu__link" href="#">Войти</a>
                <a class="login-menu__link" href="#">Принять участие</a>
            </div>
        </div>
    </div>
</header>