<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#" class="logo__link">
                <img src="images/logo.png" alt="" class="logo-image">
            </a>
        </div>
        <div class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item"><a class="header__menu-link" href="#">Участницы</a></li>
                <li class="header__menu-item"><a class="header__menu-link" href="#">О конкурсе</a></li>
            </ul>
        </div>
        <div class="header__app">
            <div class="header__app-grid">
                <div class="header__app-icon"><i class="icon-app-logo"></i></div>
                <div class="header__app-content">
                    Генеральный партнер приложение Denim: знакомства для успешных мужчин
                </div>
            </div>
        </div>
        <div class="header__right">
            <ul class="header__login-menu login-menu">
                <li class="login-menu__item"><a class="login-menu__link" href="#">Войти</a></li>
                <li class="login-menu__item"><a class="login-menu__link" href="#">Принять участие</a></li>
            </ul>
        </div>
    </div>
</header>